* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: Arial, Haveltica, sans-serif;
    background-color: rgba(43, 43, 43, 0.8);
    color: white;

    h1 {
        font-size: 80px;
    }
}